.first_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    max-width: 17rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar_up {
    flex: 2.5;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sidebar_up .image {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.new_chat {
    background-color: #555bff;
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.new_chat2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
}

.new_chat span {
    color: white;
}

.new_chat img {
    height: 1rem;
    width: 1rem;
}

.sidebar_down {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
}

.setting {
    min-height: 3rem;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
}

.sidebar_down button:nth-of-type(3) {
    min-height: 3rem;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
}

.main {
    max-width: 79rem;
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center
}

.content_box {
    min-height: 5rem;
    max-width: 41rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.content_box .image {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    min-height: 5rem;
}

.image img {
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
}

.answer {
    display: flex;
    flex-direction: column;
    min-height: 1rem;
}

.content_box {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.box1 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.box2 {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: #182243;
    width: 90%;
    min-height: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;
    padding: 1rem 0;
}

.box2 img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.send_message form {
    display: flex;
    flex-direction: row;
    column-gap: 0;
}

.send_message .btn {
    width: 85%;
    height: 3rem;
    background-color: #182243;
    margin-left: 2rem;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-left: 0.5rem;
    padding-top: 0.8rem;
}

.send_message .btn2 {
    width: 5%;
    height: 3rem;
    background-color: #182243;
    color: white;
    display: flex;
    justify-content: center;
}

textarea::-webkit-resizer {
    display: none;
}

.send_message .btn2 img {
    width: 1.5rem;
}