.sidebar_up {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-width: 20rem;
    width: 100%;
    min-height: 20rem;
    padding-top: 2rem;
    border-right: 1px solid var(--border);
}

.sidebar_up .sticky {
    position: sticky;
    top: 0;
    background-color: var(--bg);
}

.sidebar_up .image img {
    background-color: black;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

.new_chat {
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.new_chat2 {
    border: 1px solid var(--border);
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--text);
}

.new_chat:hover,
.new_chat2:hover {
    background-color: var(--bg3);
}

.new_chat span {
    color: var(--text);
}

.new_chat img {
    height: 1rem;
    width: 1rem;
}

.history {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.history .para {
    margin-left: 1rem;
    display: none;
}

.history .para_active {
    display: inline;
}

.btn_container {
    border: 1px solid var(--border);
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn_container:hover {
    background-color: var(--bg3);
}

.btn3_1 {
    color: var(--text);
}

.history .btn3 {
    width: 1rem;
    height: 3rem;
    background-color: var(--bg3);
    color: var(--text);
    margin-left: 4rem;
    visibility: hidden;
}

.history .btn3:hover {
    font-weight: bold;
    background-color: var(--bg);
}

.btn_container:hover .btn3 {
    visibility: visible;
}

.sidebar_down {
    position: fixed;
    bottom: 0;
    width: 20rem;
    height: 5rem;
    background-color: var(--bg);
    z-index: 100;
}

.setting {
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--text);
}

.sidebar_down button:nth-of-type(3) {
    min-height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--text);
}

.sidebar_down button:nth-of-type(3):hover,
.setting:hover {
    background-color: var(--bg3);
}

.setting .home_img {
    width: 1.5rem;
    height: 1.5rem;
}